*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-wrapper{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows:10vh 90vh;
}

.side-menu{
    position: sticky;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: #37474f;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px 0 0 20px;
}

.navbar{
    grid-column: 3/-1;
    background-color: #263238;
}

.content{
    grid-column: 3/-1;
    background-color: #263238;
    display: flex;
}

.logo{
    font-size:2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.cancel{
    display: none;
}

.side-menu-items .menu-items-con{
    display: block;
    font-size: 1.3rem;
    padding: 10px 10px;
    margin-bottom: 5px;
}
.side-menu-items span i{
    padding-right: 10px;
}
.side-menu-items a{
    text-decoration: none;
    color: whitesmoke;
   
}
.side-menu-items a:hover{
    text-decoration: none;
    color: rgb(199, 199, 199);
}
.side-menu-items .menu-items-con:hover{
    background-color: #263238;
    border-radius: 50px 0 0 50px;
}
.active{
    background-color: #263238;
    border-radius: 50px 0 0 50px;
}
.navbar img{
    border-radius: 25px;
    width: 50px;
    height: 50px;
}
.navbar span{
    color: whitesmoke;
}

.admin-details{
    display: flex;
    margin-right: 2rem;
}

.admin-text{
   display: flex;
   flex-direction: column;
   margin-left: 15px;
   font-weight: bold;
}

.admin-text a{
    text-decoration: none;
 }

 .menu-bar{
     font-size: 2rem;
 }
 .menu-bar i{
     margin-right: 15px;
 }

 .table1,.table2{
     background-color: whitesmoke;
     width: 100%;
     margin: 20px 10px 20px 20px;
     border-radius: 3px;
     overflow-x: scroll;
 }
 .table-item{
     padding:0 30px;
 }
 .content h2{
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
 }
.fa-times-circle{
     color: rgb(194, 27, 55);
 }
 .fa-check-circle{
    color: rgb(27, 194, 110);
 }
 .sm{
    display: none;
 }

 .wrapper{
     display: flex;
     justify-content: center;
 }

 .contents{
     background: white;
     border-radius: 3px;
     padding: 30px;
     width: 40%;
 }

 .field{
    display: flex;
    margin-bottom: 10px;
 }

 .new{
     display: flex;
     justify-content: space-between;
 }
 .allowance{
     display: flex;
     flex-direction: column;
 }

 .login-wrapper{
   
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .login-cont{
     width: 25%;
     padding: 30px 40px 30px 40px;
     border-radius: 5px;
     background-color: whitesmoke;
 }

 .index-wrapper{
     background: url("../Media/epl.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     filter: blur(8px);
     -webkit-filter: blur(8px);
     width: 100%;
     height: 100vh;
     position: fixed;
 }

 .index-content{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .item{
     display: flex;
     justify-content: center;
     align-items: center;
     
 }
 .item>a{
     margin:10px;
     text-decoration: none;
 }
.admin{
     width: 200px;
     height: 100px;
     background-color:#26bbac;
     border-radius: 5px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     color: whitesmoke;
     cursor: pointer;
     transition: 1s all;
 }
.admin:hover{
     background-color:#1d8b80;
     border-radius: 50px;
     transition: 1s all;
 }
 .employee{
     width: 200px;
     height: 100px;
     background-color:#728892;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: whitesmoke;
     cursor: pointer;
     transition: 1s all;
 }
 .employee:hover{
     background-color:#576c75;
     border-radius: 50px;
     transition: 1s all;
 }

 @media screen and (max-width: 700px) {

    .employee,.admin{
        width: 140px;
    }
    .contents{
        background-color: whitesmoke;
        padding: 30px;
        border-radius: 3px;
        border: 1px solid gray;
        width: 95%;
    }
    .side-menu{
       position: fixed;
       margin-left:-100%;
       width: 100%;
       height: 100vh;
       transition: 0.5s ease-in-out;
    }
    .navbar{
        grid-column: 1/-1;
        background-color: #263238;
    }
    .content{
        grid-column: 1/-1;
        background-color: #263238;
    }
    .dashboard-text{
        display: none;
    }
    .admin-details{
        display: flex;
        margin-right: 0px;
    }
    .cancel{
       display: inline-block;
       position: absolute;
       right: 15px;
    }
    .side-menu-items .menu-items-con{
        font-size: 1rem;
    }
    .logo{
        font-size:1.5rem;
    }
    .menu-item-text{
        display: inline-block;
    }
    .content{
        display: flex;
        flex-wrap: wrap;
        overflow-y:scroll;
    }
    .sm{
        display: none;
    }
    .md{
        display: inline-block;
    }

    .table1,.table2{
        background-color: whitesmoke;
        width: 100%;
        border-radius: 3px;
        margin:10px;
        font-size: 12px;
        overflow-x: scroll;
    }
    .login-cont{
        width: 95%;
        padding: 10px 10px 10px 10px;
    }
  
  }

  @media screen and (min-width: 701px) and (max-width: 1400px) {
    body,html{
        background-color:#263238 ;
    }

    .login-cont{
        width: 40%;
    }
    .main-wrapper{
        display: grid;
        grid-template-columns: repeat(24,0.5fr);
        grid-template-rows:10vh 90vh;
    }
    .side-menu{
        grid-column: 0.5/1;
     }
     .navbar{
         grid-column: 0.5/-1;
     }
     .content{
         grid-column: 0.5/-1;
     }

    .table1,.table2{
        background-color: whitesmoke;
        width: 100%;
        border-radius: 3px;
        margin:10px;
        font-size: 12px;
        overflow-x: scroll;
    }
    .menu-item-text{
        display: none;
    }
    .sm{
        display: inline-block;
    }
    .md{
        display: none;
    }
 
  }
  @media screen  and (max-width: 980px) {
    
    .content{
        display: flex;
        flex-wrap: wrap;
        overflow-y:scroll;
    }
    
 
  }
 